<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FTTX</a>
       
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="Employee">MY Profile</a>
          <a class="nav-link active" aria-current="page" routerLink="AddEmployee">Add Profile</a>
         
        </div>
      </div>
    </div>
  </nav>